body {
  background-color: #060CE9;
}

.main {
  font-family: 'Fjalla One', sans-serif;
  font-size: 175px;
  text-align: center;
  color: #FFD700;
}

.start {
  font-family: 'Fjalla One', sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 150px;
  a {
    color: #FFD700;
  }
}

.start:hover {
  background-color: #233cff;
  cursor: pointer;
}

.category {
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  min-height: 80px;
}

.value{
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  text-align: center;
  min-height: 90px;
  margin-top: 10px;
  padding-top: 20px;
  border: solid 1px black;

  a {
    color: #FFD700;
  }
}

.question {
  font-family: "DejaVu Serif Condensed", sans-serif;
  color: #fff;
  font-size: 100px;
  text-align: center;
  margin-top: 15%;
  text-shadow: 5px 5px 9px #0e0e0e;
  font-weight: bold;
  text-transform: uppercase;

  img {
    margin-top: -15% !important;
  }
}

.back{
}

.back:hover {
  text-decoration: none;
  color:#FFD700;
}

// Reset modal styles to make it look like we aren't using a modal.
.custombox-overlay,
.modal-content {
  background-color: #060ce9 !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.custombox-modal-push {
  padding-top: 3%;
}

.custombox-modal-container,
.custombox-modal,
.custombox-modal-push {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;

  .modal-content,
  .modal-dialog {
    padding: auto;
    margin: auto;
    width: 80%;
  }

  .modal-body {
    margin: auto;
  }
}

.buzzer {
  background-color: red;
  width: 350px;
  height: 350px;
  border: solid black 4px;
  border-radius:400px;
  font-size: 100px;
  color:white;
}

.user-name, .score{
  text-align: center;
  color:white;
}

.goBack {
  background-color: #060ce9;
  border:#060ce9;
  i {
    font-size: 40px;
    color:white;
  }
}